
<% $SUB_FLAGS.each_with_index do |country, i| %>
  <%#= image_tag("flags/#{country}") %>

  <div id="flag_<%= i %>">
  </div>

<% end %>


<p>conuntry flags from <a href="http://www.free-country-flags.com/">Free Country Flash</a></p>