<h1>Welcome! This is a SPDY demo</h1>

<h2>Nginx + <a href="http://nginx.org/patches/spdy/README.txt">SPDY patch</a></h2>

<ul>
  <li><a href="http://www.ihower.tw:11180/static.html">HTTP</a></li>
  <li><a href="https://www.ihower.tw:11443/static.html">SPDY</a></li>
</ul>

<h2>Rails 3.2 + Apache + <a href="https://developers.google.com/speed/spdy/mod_spdy/">mod_spdy</a></h2>

<ul>
  <li><%= link_to "HTTP", "http://#{request.host_with_port}/http" %></li>
  <li><%= link_to "SPDY", "https://#{request.host_with_port}/no_server_push" %></li>
  <li><%= link_to "SPDY + server push", "https://#{request.host_with_port}/server_push" %></li>
</ul>

