<h2>Welcome! This is a SPDY demo</h2>

<p>Rails 3.2.10 + Apache + mod_spdy</p>

<p><%= link_to "HTTP", 'http://www.ihower.tw/http' %></p>
<p><%= link_to "SPDY with server push", 'https://www.ihower.tw/server_push' %></p>
<p><%= link_to "SPDY without server push", 'https://www.ihower.tw/no_server_push' %></p>
